.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 200px;
        background: #C70101;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        font-style: bold;
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        text-align: center;
        
    }
    &__phone {
        display: block;
        margin-bottom: 38px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
    }
    &__social_item {
        margin-right: 27px;
        &:last-child {
            margin-right: 0;
        }
    }
}